<select #f class="form-select mb-3" (change)="changeType(f.value)">
  <option disabled selected>Tipo Cliente</option>
  <option value="false">Fisica</option>
  <option value="true">Juridica</option>
</select>

<div *ngIf="legalOrNatural == true" class="d-grid gap-3">
  <input
    class="form-control"
    type="text"
    placeholder="Razão Social"
    [(ngModel)]="company.name"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="Nome Fantasia"
    [(ngModel)]="company.fantasyName"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="CNPJ"
    [(ngModel)]="company.cnpj"
    required
  />

  <input
    class="form-control"
    type="text"
    id="cep"
    placeholder="CEP"
    [(ngModel)]="company.cep"
    (blur)="buscarCep()"
    required
  />
  <input
    class="form-control"
    type="text"
    id="logradouro"
    placeholder="Endereço"
    [(ngModel)]="company.address"
    required
  />
  <input
    class="form-control"
    type="text"
    id="bairro"
    placeholder="Bairro"
    [(ngModel)]="company.district"
    required
  />
  <input
    class="form-control"
    type="text"
    id="localidade"
    placeholder="Cidade"
    [(ngModel)]="company.city"
    required
  />

  <input
    class="form-control"
    type="text"
    placeholder="Telefone"
    [(ngModel)]="company.phone"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="E-mail"
    [(ngModel)]="company.email"
    required
  />
</div>
<div *ngIf="legalOrNatural == false" class="d-grid gap-3">
  <input
    class="form-control"
    type="text"
    placeholder="Nome"
    [(ngModel)]="person.name"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="CPF"
    [(ngModel)]="person.cpf"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="CEP"
    [(ngModel)]="person.cep"
    (blur)="buscarCep()"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="Endereço"
    [(ngModel)]="person.address"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="Bairro"
    [(ngModel)]="person.district"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="Cidade"
    [(ngModel)]="person.city"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="Telefone"
    [(ngModel)]="person.phone"
    required
  />
  <input
    class="form-control"
    type="text"
    placeholder="E-mail"
    [(ngModel)]="person.email"
    required
  />
</div>
<div class="modal-footer" *ngIf="legalOrNatural == true">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
    Fechar
  </button>
  <button type="button" class="btn btn-primary" (click)="saveCompany()">
    Salvar
  </button>
</div>
<div class="modal-footer" *ngIf="legalOrNatural == false">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
    Fechar
  </button>
  <button type="button" class="btn btn-primary" (click)="savePerson()">
    Salvar
  </button>
</div>
